<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <div>
            <h2>My Purchases</h2>
        </div>
        
        <% if (success) { %>
            <p style="color: green;"><%= success %></p>
        <% } %>
        
        <div>
            <% if (purchases.length === 0) { %>
                <div>
                    <h3>No purchases yet</h3>
                    <p>You haven't purchased any games yet. <button><a href="/store">Click Here</a></button> to go Browse Store!</p>
                </div>
            <% } else { %>
                <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
                    <% purchases.forEach(p => { %>
                        <div style="flex: 1 1 300px; max-width: 500px; margin: 10px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden;">
                            <img src="<%= p.Game.imageUrl %>" alt="<%= p.Game.gameName %>" style="width: 100%; height: 300px; object-fit: cover; object-position: top center;">
                            <div style="padding: 20px; margin-top: -20px;">
                                <p style="font-weight: bold;">Game Name : <span><%= p.Game.gameName %></span></p>
                                <p style="font-weight: bold;">Developer : <span><%= p.Game.User.userName %></span></p>
                                <p style="font-weight: bold;">Purchased Date: <span><%= p.date %></span></p>
                                <div>
                                    <% p.Game.Categories.forEach(c => { %>
                                        <span><%= c.categoryName %></span>
                                    <% }) %>
                                </div>
                                <br>
                                <button disabled>Owned</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>