<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <div>
            <h2>Game Store</h2>
            <p>Browse and purchase games</p>
            <hr>
            <button><a href="/">Back</a></button>
            <hr>
        </div>
        <hr>
        <form action="/store" method="get">
            <label for="search">Game</label>
            <input type="text" name="search">
            <button type="submit">Search</button>
        </form>
        <hr>

        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        
        <div>
            <% if (games.length === 0) { %>
                <div style="text-align: center;">
                    <h3>No games available</h3>
                    <p>Check back later for new games!</p>
                </div>
            <% } else { %>
                <table border="8" style="text-align: center; margin:auto">
                    <tr>
                        <th>Image</th>
                        <th>Game Name & Dev</th>
                        <th>Categories</th>
                        <% if (role === 'Buyer') { %>
                            <th>Action</th>
                        <% } %>
                    </tr>
                    <% games.forEach(g => { %>
                        <tr>
                            <td><img src="<%= g.imageUrl %>" alt="<%= g.gameName %>" width="500px"></td>
                            <td><%= g.gameName %> by <span style="color: rgb(0, 76, 255); font-weight: bold;"><%= g.User.userName %></span></td>
                            <td>
                                <% g.Categories.forEach(c => { %>
                                    <p><%= c.categoryName %></p>
                                <% }) %>
                            </td>
                            <td>
                            <% if (role === 'Buyer') { %>
                                <button><a href="/store/<%= g.id %>/buy">Buy Game</a></button>
                            <% } %>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>
        </div>
    </div>
</body>
</html>