<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>STORE OF ALL GAME</h1>
        <table border="8" style="margin: auto; text-align: center;">
            <tr>
                <th>No.</th>
                <th>Image</th>
                <th>Game name</th>
                <th>Category</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            <% games.forEach((g, idx) => { %>
                <% g.Categories.forEach(c => { %>
                    <tr>
                        <td><%= idx + 1 %></td>
                        <td><img src="<%= g.imageUrl %>" alt="" width="500px"></td>
                        <td><%= g.gameName %></td>
                        <td><%= c.categoryName %></td>
                        <td><%= g.time%></td>
                        <td>
                            <button><a href="/games/<%= g.id %>/edit">Edit Game</a></button>
                            <button><a href="/games/<%= g.id %>/delete">Delete</a></button>
                            <button><a href="/store/<%= g.id %>/buy">Buy Game</a></button>
                        </td>
                    </tr>
                <% }) %>
            <% }) %>
        </table>
    </div>
</body>
</html>